<ion-header>
  <ion-toolbar>
    <ion-title>
      Área do Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/EU.jpeg" alt="EU" class="card-image"/>
      <ion-card-title>
        Informações do aluno
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nome: Raphael Durão</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Matricula: 23201174</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Turma: ADS301M</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>